.about__grid{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   column-gap: 3rem;
}
.about__img-wrapper{
    position: relative;
    padding-left: 1.5rem;
    box-shadow: 20px -16px var(--first-color);
}


.about__details{
    margin-block:1.25rem 2.25rem ;
}
.about__details-description{
    display: flex;
    align-items: center;
}
.about__details,
.about__details-description{
    gap: 0.625rem;
}