.testimonials__grid{
    grid-template-columns: repeat(3,1fr);
}
.testimonials__item{
    border: 2px dashed var(--first-color);
}
.testimonials__description{
    background-color: var(--container-color);
    padding: 2.5rem 2rem 3rem;
    border-radius: var(--radius);
    margin-bottom: 2rem;
    position: relative;
    min-height: 250px;
}
.botton__wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}
.testimonials__img-wrapper{
    border: 2px dashed var(--first-color);
    padding: 0.25rem;
    width: 80px;
    height: 80px;
    margin-inline: 1.25rem ;
}

.testimonials__img-wrapper,
.testimonials__img{
    border-radius: 50%;
}